<!doctype html>
<html>
<head>
	<%- include('head'); %>
</head>
<body>
	<header class="w-screen h-24 bg-blue-700 text-center text-gray-100">
		
		<div class="grid h-24 place-content-center justify-items-center font-gruppo">
			<h1><%= contact.name %></h1>
			<h3><%= contact.tagline %></h3>
		</div>

		<!-- PDF download button -->
		<div class="print:hidden absolute top-1 right-1">
			<a class="text-white bg-blue-600 hover:bg-blue-900 font-medium rounded-lg text-sm px-2 py-1 focus:outline-none" 
				href="resume.pdf" target="_blank"
				download="<%= contact.name.replaceAll('.', '').replaceAll(' ', '_'); %>_Resume.pdf">
				Download <i class="fa-regular fa-file-pdf"></i>
			</a>
		</div>
	</header>

	<div id="content" class="flex flex-row px-6 pt-6">

		<!-- left column -->
		<aside class="basis-1/5 space-y-6">
			<%- include('contact', contact); %>
			<%- include('skills', topSkills); %>
		</aside>

		<!-- right column -->
		<main class="basis-4/5 pl-6">
			<%- include('about', about); %>
			<%- include('experience', experience); %>
			<%- include('education', education); %>
		</main>
	</div>

	<footer class="print:hidden flex h-14 text-center items-center">
		<p class="w-screen text-sm">
			Copyright &copy; <%= datefns.format(new Date(), 'yyyy') %> 
			<a href="<%= contact.website %>"><%= contact.name %></a>. All rights reserved.
		</p>
	</footer>
</body>
</html>